@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow__node {
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #1a192b;
  background: white;
  font-size: 12px;
}

.react-flow__node-root {
  background: #0176d3;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
}

.react-flow__node-category {
  background: #16325c;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.react-flow__node-metadata {
  background: #f3f3f3;
  border-color: #706e6b;
}

.react-flow__edge-path {
  stroke: #b0adab;
  stroke-width: 2;
}

.react-flow__controls button {
  background-color: white;
  border: 1px solid #ddd;
}
